/* _static/css/custom_styles.css */

/* Import custom font */
@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/Neo Sans Std Regular/Neo Sans Std Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/Neo Sans Std Bold/Neo Sans Std Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/Neo Sans Std Light/Neo Sans Std Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Apply the font to the body and other elements */
body {
  font-family: 'NeoSans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'NeoSans', sans-serif;
  font-weight: bold; /* Bold headings */
}

p, li, a, span, div {
  font-family: 'NeoSans', sans-serif;
}


/* vvvvv STYLES TO MAKE TABS MORE VISUAL vvvvv */

/*The parent container of tabs*/
.tab-set {
  border: 1px solid #ccc
}

/*Individual box of each tab*/
.tab-set > label {
  margin-bottom: 0
}

/*Container appearing below the tabs, with the contents of the active tab*/
.tab-content {
  background-color: aliceblue;
  padding: 20px
}

/*Initial paragraph of the content. By default there's a top margin 
 but we already specify a padding of 20 px for the content no matter what the
 first child is.*/
.tab-content > p:first-child {
  margin-top: 0
}

/* ^^^^^ STYLES TO MAKE TABS MORE VISUAL ^^^^^ */

/* To center the logo on the page */

/* Actual logo */
.microsoft-logo {
  position: relative;
  width: 50vmin;
  height: 50vmin;
  overflow: hidden;
}

#microsoft-logo:before {
  content: "";
  position: absolute;
  height: 24.1vmin;
  width: 50vmin;
  background: linear-gradient(
    90deg,
    #f25022 48%,
    transparent 48%,
    transparent 52%,
    #7fba00 52%
  );
}

#microsoft-logo:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 24.1vmin;
  width: 50vmin;
  background: linear-gradient(
    90deg,
    #00a4ef 48%,
    transparent 48%,
    transparent 52%,
    #ffb900 52%
  );
}

/* STYLES TO CHANGE TOC TREES

/* _static/css/custom_styles.css */

/* Customize toctree links */
.toctree-l1 a {
  text-decoration: none; /* Remove the underline */
}

.toctree-l1 a:hover {
  color: #0056b3; /* Change the color on hover */
  text-decoration: underline; /* Add underline on hover if needed */
}

.toctree-l1 a:visited {
  color: #E83F48; /* Change the color for visited links */
}

.toctree-l1 a:active {
  color:#E83F48; /* Change the color when the link is active */
}
